<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <input type="submit" value="Login">
        </form>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>